
* {
  font-size: 13pt;
}

.kg-icon {
  color: #3b47b5;
}

/*
  Form styles
*/
.form-font {
  font-family: 'Muli', sans-serif; 
  font-size: 1em;
  color: #123447;
  text-align: left;
}

.form-input {
  display: inline-block;
  min-width: 75%;
  background-color: #fff;
  border: .5px solid lightblue;
  border-radius: 5px;
  
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  height: 2.5em;
}

.form-input-text {
  height: 1.5em;
  display: inline-block;
  min-width: 75%;
  background-color: #fff;
  border: .5px solid powderblue;
  border-radius: 5px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;

}

.group {
  display: none;
}

.group-on {
  display: inline-block;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

.kg-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}


/**
  Text & text container styles
*/
.kg-text-container {
  display: inline-block;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  align-content: center;
}
.kg-intro {
  font-family: 'Muli', sans-serif; 
  font-size: 1em;
  color: #123447;
  text-align: center;
}


header{
  background-image: url("bg-pattern.png");
  background-size: 35px;
  background-color: #c58f00;
  filter: contrast(200%) hue-rotate(0deg);

  opacity: 1;
  font-family: 'Muli', Helvetica, Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 2em;
  color: #123447;

  text-align: center;
  vertical-align: center;
  
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  
  border-radius: 5px;

}
subheader {
  display: block;
  font-family: 'Muli', Helvetica, Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 1em;
  color: #123447;
  text-align: left;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: .5em;

}
.header-img {
  width: 47px;
  float: left;
}


/********************************************************************************
  The log in page logo
*/
.main-logo {
  display: block;
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 1.25em;
  color: #123447;
  text-align: left;
  padding-top: 0em;
  padding-bottom: .5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: .5em;
  margin-bottom: .5em;


}
.main-logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 
  
}
/********************************************************************************/




footer {
  -position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffba00;
  display: block;
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif; 
  font-size: .5em;
  color: #123447;
  text-align: center;
  border-radius: 5px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  margin-bottom: .5em;
}

.container{
  border-color: red;
  border-style: solid;
  border-width: 1px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

.label{
  font-family: inherit;
  display: block;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

  ::placeholder {
    color: lightgrey;
  }

  option {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  button {
    display: inline-block;
    background-color: #BBA3E3;
    /*
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    */
    font-family: inherit;
    font-size: inherit;
    color: white;

    height: 1.75em;
    border: 1px solid #7251A8;
    border-radius: 5px;
    min-width: 3em;

  }
  button:hover {
    background-color: #9677c9; /* Green */
  }
  :disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

/*

*/
.list-item {
  display: inline-block;
  min-width: 75%;
  background-color: #fff;
  font-family: 'Muli', Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 1em;
  color: #123447;
  height: 6em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

/* visited link */
a:visited {
  color: #123447;
}
a:link {
  text-decoration: none;
}
a:hover {
  cursor:pointer;
 }

 .rspacer{
  padding-right: .5em;
 }




@media only screen and (min-width: 768px) {

}