* {
  font-family: "Muli", sans-serif;
  color: #123447;
  font-size: 13pt;
  background-color: rgb(250, 244, 229);
  -background-color: #daecfa;
  opacity: 10;
}

.container {
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

/********************************************************************************
  APP HEADER DIV
********************************************************************************/

.hdr {
  background-image: url("bg-pattern.png");
  background-size: 35px;
  background-color: #c58f00;
  filter: contrast(200%) hue-rotate(0deg);
  opacity: 2;
  border-radius: 2px;
}

.hdr-container {
  display: flex;
  text-align: left;
  -height: 52px;
}

.hdr-container > div {
  flex: 1; /*grow*/
  background-color: transparent;
}
.hdr-inner-div-left {
  height: 1.5em;
  position: relative;
  margin-top: 7%;
  text-align: left;
  background-color: transparent;
}

.hdr-inner-div-mid {
  height: 52px;
  position: relative;
  margin-top: 0%;
  text-align: center;
  background-color: transparent;
}

.hdr-inner-div-right {
  height: 52px;
  position: relative;
  margin-top: 0%;
  text-align: right;
  background-color: transparent;
}

.hdr-padding {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.hdr-hamburger {
  font-size: 1.5em;
  background-color: inherit;
}

.hdr-img {
  width: 50px;
  background-color: transparent;
}

/******************************************************************************************
  PAGE TITLE BAR
******************************************************************************************/

.pgtitle {
  display: flex;

  font-size: 1.5em;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.pgtitle > div {
  flex: 1, 1, fit-content; /*grow, shrink*/
  background-color: transparent;
}
.pgtitle-inner-div-left {
  position: relative;
  width: 20%;
  text-align: left;
  background-color: transparent;
}

.pgtitle-inner-div-mid {
  position: relative;
  width: 80%;
  text-align: center;
  background-color: transparent;
}

.pgtitle-inner-div-right {
  position: relative;
  width: 20%;
  text-align: right;
  background-color: transparent;
}

.pgtitle-glyph {
  font-size: 1.5em;
  background-color: inherit;
}

/******************************************************************************************
  PAGE STYLES
******************************************************************************************/
.pg-area {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

/******************************************************************************************
  ???
******************************************************************************************/
.glyph {
  font-size: 1.5em;
  color: #123447;
}
.img-round {
  border-radius: 50%;
}

.img-center {
  text-align: center;
}

/******************************************************************************************
  FORM ELEMENTS
******************************************************************************************/
.form-font {
  font-family: inherit;
  font-size: 1em;
  color: inherit;
  text-align: left;
}

.form-input {
  display: inline-block;
  min-width: 75%;
  background-color: white;
  border: 0.5px solid lightblue;
  border-radius: 5px;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 2.5em;
}

.form-input-text {
  height: 1.5em;
  display: inline-block;
  min-width: 75%;
  background-color: #fff;
  border: 0.5px solid powderblue;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.group {
  display: none;
}

.group-on {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.ctlgroup-padding {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.kg-centered {
  display: block;
  align-items: center;
  justify-content: center;
}

/**
  Text & text container styles
*/
.kg-text-container {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  align-content: center;
}

.kg-intro {
  font-family: "Muli", sans-serif;
  font-size: 1em;
  color: #123447;
  text-align: center;
}

.subheader {
  display: block;
  font-family: "Muli", Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: #123447;
  text-align: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 0.5em;
}

/********************************************************************************
  The logo on index.html
*/
.index-logo {
  display: block;
  font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25em;
  color: #123447;
  text-align: left;
  padding-top: 0em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.index-logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/********************************************************************************/

.label {
  font-family: inherit;
  display: block;
  -padding-top: 0.5em;
  padding-bottom: 0.5em;
  -padding-left: 0.5em;
  -padding-right: 0.5em;
}

::placeholder {
  color: lightgrey;
}

option {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  display: inline-block;
  background-color: #086ca2;
  /*
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    */
  font-family: inherit;
  font-size: inherit;
  color: white;

  height: 1.75em;
  border: 1px solid #7251a8;
  border-radius: 3px;
  min-width: 1em;
}
button:hover {
  background-color: #4e94b9; /* Green */
}
:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/*

*/

/* visited link */
a {
  color: #123447;
  background-color: transparent;
}
a:visited {
  color: #123447;
}
a:link {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  color: #4e94b9;
}

i {
  color: inherit;
}

.rspacer {
  padding-right: 0.5em;
}

/********************************************************************************
  FOOTER
*********************************************************************************/
.footer {
  position: fixed;
  -margin-top: 90%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffba00;
  display: block;
  font-family: inherit;
  font-size: 0.5em;
  color: #123447;
  text-align: center;
  border-radius: 2px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/********************************************************************************
  APPOINTMENT PAGE
  "lineitem" is a 3 block table to separate 3 items in a single li line
  Originally developed to format the list of appointments on the Appointments 
  page
*********************************************************************************/
.list-item {
  display: inline-block;
  min-width: 75%;
  background-color: inherit;
  font-family: "Muli", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  color: #123447;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.lineitem {
  display: flex;
  line-height: 2em;
}
.lineitem > div {
  flex: 1, 1, fit-content; /*grow, shrink*/
  background-color: transparent;
}
.lineitem-inner-div-left {
  position: relative;
  width: 20%;
  text-align: center;
  background-color: transparent;
}

.lineitem-inner-div-mid {
  position: relative;
  width: 60%;
  text-align: left;
  background-color: transparent;
}

.lineitem-inner-div-right {
  position: relative;
  width: 20%;
  text-align: right;
  background-color: transparent;
}

.lineitem-padding {
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media only screen and (min-width: 768px) {
}
