
  
  .flex-grid {
    width: 95%;
    position: fixed;
    bottom: 15px;
    display: flex;
    text-align: center;
  }
  .col {
    flex: 1;
    background-color: inherit;
  }
  .tlbr-label {
      font-size: .6em;
      background-color: inherit;
  }

  .tlbr-glyph {
    background-color: inherit;
  }

  .tlbr-border {    
    padding-top: .3em;
    background-color:#f7dc94;
  }


